body {
    background-color: #FFFFFF;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
section {
    margin-left: 30px;
}
h2 {
    color: red;
    text-align: center;
}
h6 {
    margin-bottom: 10px;
    margin-top: 5px;
}
ul.ui.list {
    margin-left: 40px;
}
article.post {
    margin-top: -25px;
}
.item:before,
.ui.vertical.inverted.menu.item:before {
    background: transparent !important;
}
body.pushable {
    background: transparent !important;
}
.archief,
.agenda {
    margin-bottom: 30px;
}
.ui.icon.input {
    display: none;
}
.desc {
    margin-bottom: 10px;
}
.ui.menu {
    height: 64px;
}
.ui.menu .item img.logo {
    margin-right: 1.5em;
}
.verzonden,
.taglist,
#results-container {
    display: none;
}
.success {
    color: #016936;
    font-weight: bold;
}
.contact {
    margin-bottom: 40px;
}
.main.container {
    padding-top: 6em;
}
.wireframe {
    margin-top: 1em;
}
.ui.footer.segment {
    margin: 5em 0em 0em;
    padding-bottom: 0;
    padding-top: 2em;
}
.ui.inverted.segment,
.ui.inverted.menu {
    background: #FA9B3D;
}
.ui.main {
    flex: 1;
}
.ui.center.aligned.container.footer {
    width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.arrow.left.icon {
    display: inline-flex;
    margin-bottom: 1.5em;
    margin-right: 0;
}
.ui.main.text.container.post {
    margin-top: -2em;
}
/* CSS voor mobiele gebruikers */

.ui.centered.image.mobile,
.mobile {
    display: none;
}
.ui.centered.image.desktop,
.desktop {
    display: flex;
}
@media (max-width: 500px) {
    .ui.centered.image.mobile,
    .mobile {
        display: block;
    }
    .ui.centered.image.desktop,
    .desktop {
        display: none;
    }
    .header.item {
        margin: 0 auto !important;
        left: -30px;
    }
    .ui.menu {
        height: 30px;
    }
    .logo {
        margin-bottom: -9px !important;
    }
    .main.text.container {
        padding-top: 3.5em;
    }
    .main.container.text.container.post {
        padding-top: 5.5em;
    }
    .mobile.socialmedia {
        margin-bottom: -10px;
    }
    .ui.footer.segment {
        margin: 1em 0em 0em;
        margin-top: 30px;
        padding-bottom: 0;
        padding-top: 1em;
    }
    .archief,
    .agenda {
        margin-bottom: 10px;
    }
    ul.ui.list {
        margin-left: 35px;
    }
}