<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="nl" xml:lang="nl">
   <head>
      <title>{{ site.title }}</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css" integrity="sha256-5+W3JHnvGYIJkVxUBsw+jBi9+pOlu9enPX3vZapXj5M=" crossorigin="anonymous" />
      <link rel="stylesheet" href="{{ site.url }}/css/style.css">
	  <link rel="apple-touch-icon" sizes="57x57" href="{{ site.url }}/img/apple-icon-57x57.png">
	  <link rel="apple-touch-icon" sizes="60x60" href="{{ site.url }}/img/apple-icon-60x60.png">
	  <link rel="apple-touch-icon" sizes="72x72" href="{{ site.url }}/img/apple-icon-72x72.png">
	  <link rel="apple-touch-icon" sizes="76x76" href="{{ site.url }}/img/apple-icon-76x76.png">
	  <link rel="apple-touch-icon" sizes="114x114" href="{{ site.url }}/img/apple-icon-114x114.png">
	  <link rel="apple-touch-icon" sizes="120x120" href="{{ site.url }}/img/apple-icon-120x120.png">
	  <link rel="apple-touch-icon" sizes="144x144" href="{{ site.url }}/img/apple-icon-144x144.png">
	  <link rel="apple-touch-icon" sizes="152x152" href="{{ site.url }}/img/apple-icon-152x152.png">
	  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}/img/apple-icon-180x180.png">
	  <link rel="icon" type="image/png" sizes="192x192"  href="{{ site.url }}/img/android-icon-192x192.png">
	  <link rel="icon" type="image/png" sizes="32x32" href="{{ site.url }}/img/favicon-32x32.png">
	  <link rel="icon" type="image/png" sizes="96x96" href="{{ site.url }}/img/favicon-96x96.png">
	  <link rel="icon" type="image/png" sizes="16x16" href="{{ site.url }}/img/favicon-16x16.png">
	  <link rel="manifest" href="{{ site.url }}/img/manifest.json">
	  <meta name="msapplication-config" content="{{ site.url }}/img/browserconfig.xml" />
	  <meta name="msapplication-TileColor" content="#FA9B3D">
	  <meta name="msapplication-TileImage" content="{{ site.url }}/img/ms-icon-144x144.png">
	  <meta name="theme-color" content="#FA9B3D">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="{{ site.description }}">
	  <meta name="referrer" content="always">
	  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	  <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
      <meta name="keywords" content="{{ site.sitetags }}">
      <meta name="robots" content="noindex, nofollow">
      <meta name="revisit-after" content="1 day">
      <meta name="language" content="NL">
      {% feed_meta %}
   </head>
   <body>
      <div class="ui fixed inverted menu">
         <div class="ui container">
            <div class="mobile">
               <div class="ui pointing dropdown link item">
                  <i class="sidebar icon"></i>
                  <div class="menu">
                     <a href="{{ site.url }}" class="item">Artikelen</a>
                     <a href="/archief/" class="item">Archief</a>
                     <a href="/agenda/" class="item">Agenda</a>
                     <a href="/contact/" class="item">Contact</a>
                  </div>
               </div>
            </div>
            <a href="{{ site.url }}" class="header item">
            <img class="logo" alt="" src="{{ site.url }}/img/favicon.png"> {{ site.title }}
            </a>
            <div class="desktop">
               <a href="/archief/" class="item">Archief</a>
               <a href="/agenda/" class="item">Agenda</a>
               <a href="/contact/" class="item">Contact</a>
            </div>
            <div class="right menu">
               <div class="item">
                  <div class="desktop">
                     <div class="ui icon input">
                        <input type="text" id="search-input" placeholder="Zoek...">
                        <i class="search link icon"></i>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <ul id="results-container"></ul>
      {{ content }}
      <div class="ui inverted vertical footer segment">
         <div class="ui center aligned container footer">
            <img alt="" src="{{ site.url }}/img/hageveld-footer.png" class="ui centered image desktop">
            <img alt="" src="{{ site.url }}/img/hageveld-footer-mobile.png" class="ui centered image mobile">
         </div>
      </div>
      <div class="bottom">
         <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js" integrity="sha256-97Q90i72uoJfYtVnO2lQcLjbjBySZjLHx50DYhCBuJo=" crossorigin="anonymous"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/simple-jekyll-search/1.1.8/jekyll-search.min.js" integrity="sha256-YHAdSiDznyIEAhUYsPerIh6qoIktpxz9zJ47AtrFFGs=" crossorigin="anonymous"></script>
         <script src="{{ site.url }}/js/script.js"></script>
      </div>
      </div>
   </body>
</html>