<!DOCTYPE html>
<html>
   <head>
      <title>Op z'n Hagevelds</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css" integrity="sha256-5+W3JHnvGYIJkVxUBsw+jBi9+pOlu9enPX3vZapXj5M=" crossorigin="anonymous" />
      <link rel="stylesheet" href="{{ site.url }}/css/style.css">
      <link rel="shortcut icon" type="image/x-icon" href="{{ site.url }}/img/favicon.png">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="Op z'n Hagevelds">
      <meta name="keywords" content="hageveld, op zn hagevelds, op z'n hagevelds, krant, tijdschrift, artikel, heemstede, school, 200 jaar hageveld, 200, jaar, vwo, atheneum, college">
      <meta name="robots" content="noindex, nofollow">
      <meta name="revisit-after" content="1 day">
      <meta name="language" content="NL">
      {% feed_meta %}
   </head>
   <body>
      <div class="ui fixed inverted menu">
         <div class="ui container">
            <div class="mobile">
               <div class="ui pointing dropdown link item">
                  <i class="sidebar icon"></i>
                  <div class="menu">
                     <a href="{{ site.url }}" class="item">Artikelen</a>
                     <a href="/archief/" class="item">Archief</a>
                     <a href="/agenda/" class="item">Agenda</a>
                     <a href="/contact/" class="item">Contact</a>
                  </div>
               </div>
            </div>
            <a href="{{ site.url }}" class="header item">
            <img class="logo" alt="" src="{{ site.url }}/img/favicon.png"> Op z'n Hagevelds
            </a>
            <div class="desktop">
               <a href="/archief/" class="item">Archief</a>
               <a href="/agenda/" class="item">Agenda</a>
               <a href="/contact/" class="item">Contact</a>
            </div>
            <div class="right menu">
               <div class="item">
                  <div class="desktop">
                     <div class="ui icon input">
                        <input type="text" id="search-input" placeholder="Zoek...">
                        <i class="search link icon"></i>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <ul id="results-container"></ul>
      {{ content }}
      <div class="ui inverted vertical footer segment">
         <div class="ui center aligned container footer">
            <img alt="" src="{{ site.url }}/img/hageveld-footer.png" class="ui centered image desktop">
            <img alt="" src="{{ site.url }}/img/hageveld-footer-mobile.png" class="ui centered image mobile">
         </div>
      </div>
      <div class="bottom">
         <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js" integrity="sha256-97Q90i72uoJfYtVnO2lQcLjbjBySZjLHx50DYhCBuJo=" crossorigin="anonymous"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/simple-jekyll-search/1.1.8/jekyll-search.min.js" integrity="sha256-YHAdSiDznyIEAhUYsPerIh6qoIktpxz9zJ47AtrFFGs=" crossorigin="anonymous"></script>
         <script src="{{ site.url }}/js/script.js"></script>
      </div>
      </div>
   </body>
</html>