---
layout: default
---
<div class="ui main text container post">
<a href="{{ site.url }}"><i class="arrow left icon"></i></i>Terug</a>
   <article>
      <h1>{{ page.titel }}</h1>
      <h6>Geschreven door <a target="_blank" href="{{ page.auteur_link }}">{{ page.auteur }}</a> op {{ page.datum | date_to_string }}</h6>
	  <a href="whatsapp://send?text=Lees+nu+%27{{ page.titel | uri_escape }}%27+op+{{ site.url }}{{ page.url }}"><i class="whatsapp icon"></i></a>
	  <a href="mailto:?subject={{ page.titel | uri_escape }}&body=Lees+nu+%27{{ page.titel | uri_escape }}%27+op+{{ site.url }}{{ page.url }}!"><i class="mail icon"></i></a>
	  <a href="https://plus.google.com/share?hl=nl&url={{ site.url }}{{ page.url }}&title={{ page.titel | uri_escape }}"><i class="google plus icon"></i></a>
	  <a href="http://twitter.com/share?text=Lees+nu+%27{{ page.titel | uri_escape }}%27+op&url={{ site.url }}{{ page.url }}"><i class="twitter icon"></i></a>
	  <a href="http://www.facebook.com/sharer.php?u={{ site.url }}{{ page.url }}&title={{ page.titel | uri_escape }}"><i class="facebook icon"></i></a><BR><BR>
      {{ page.content }}
   </article>
</div>